<div class="section section-about-us">
    <div class="container">
        <div class="title-head">
            <h2 class="section-title">About <span class="section-title-underline">Us</span></h2>
            <p class="section-title-descr">We are dedicated to providing engaging and effective English language courses
                in a supportive and stimulating learning environment</p>
        </div>
        <div class="about-us-content">
            <ul class="about-us-list">
                <li class="about-us-card">
                    <span class="about-us-card__num">01</span>
                    <p class="about-us-card__text">Expert, innovative teaching staff</p>
                </li>
                <li class="about-us-card">
                    <span class="about-us-card__num">02</span>
                    <p class="about-us-card__text">Wide range of course levels and options</p>
                </li>
                <li class="about-us-card">
                    <span class="about-us-card__num">03</span>
                    <p class="about-us-card__text">Multicultural learning environment</p>
                </li>
                <li class="about-us-card">
                    <span class="about-us-card__num">04</span>
                    <p class="about-us-card__text">Comprehensive language support services</p>
                </li>
            </ul>
            <div class="about-us-memoji">
                <picture>
                    <source srcset="assets/memoji.webp 1x, assets/memoji@2x.webp 2x" type="image/webp">
                    <img src="assets/memoji.png" srcset="assets/memoji.png 1x, assets/memoji@2x.png 2x" alt="Memoji teacher" class="about-us-memoji__img" width="254" height="211">
                </picture>
            </div>
        </div>
    </div>
</div>