<section id="about-us" class="section section-about-us">
    <div class="container">
        <div class="title-head">
            <h2 class="section-title">About <span class="rectangle">Us</span></h2>
            <p class="section-title-descr">We are dedicated to providing engaging and effective English language courses
                in a supportive and stimulating learning environment</p>
        </div>
        <div class="about-us-content">
            <ol class="about-us-list">
                <li class="about-us-card">
                    <p class="about-us-card__text">Expert, innovative teaching staff</p>
                </li>
                <li class="about-us-card">
                    <p class="about-us-card__text">Wide range of course levels and options</p>
                </li>
                <li class="about-us-card">
                    <p class="about-us-card__text">Multicultural learning environment</p>
                </li>
                <li class="about-us-card">
                    <p class="about-us-card__text">Comprehensive language support services</p>
                </li>
            </ol>
            <div class="about-us-memoji">
                <picture>
                    <source
                        srcset="./images/section-about-us/memoji@1x.webp 1x, ./images/section-about-us/memoji@2x.webp 2x"
                        type="image/webp">
                    <img src="./images/section-about-us/memoji@1x.png"
                        srcset="./images/section-about-us/memoji@1x.png 1x, ./images/section-about-us/memoji@2x.png 2x"
                        alt="Memoji teacher" class="about-us-memoji__img" width="254" height="211" loading="lazy">
                </picture>
            </div>
        </div>
    </div>
</section>