<footer class="footer">
  <div class="container">
    <div class="footer-container">
            <div class="footer-container-address">
                <a href="index.html" class="footer-logo">english<span class="footer-span">excellence</span></a>
                <address class="footer-address">
                    <div>
                        <p class="footer-address-text">Phone number:</p>
                        <a href="tel:+380684439426" target="_blank" class="footer-address-link">+380 (68) 443-94-26</a>
                    </div>
                    <div>
                        <p class="footer-address-text">Address:</p>
                        <a href="https://maps.app.goo.gl/ZDM7ngWDRQeoEoe69" target="_blank" class="footer-address-link">32a M. Bazhana ave</a>
                    </div>
                    
                    
                </address>
            </div>
            <ul class="footer-container-nav">
            <li>
                <p>About us</p>
            </li>
            <li>
                <p>Our lessons</p>
            </li>
            <li>
                <p>Teachers</p>
            </li>
            <li>
                <p>Reviews</p>
            </li>
            <li>
                <p>Contact us</p>
            </li>
        </ul>
        <ul class="footer-container-link">
            <li class="footer-container-svg">
            <a href="https://www.facebook.com/goITclub/" target="_blank" ><svg class="footer-svg" width="28" height="28">
          <use href="../../assets/fav-icon.svg#icon-facebook"></use>
        </svg></a>
            </li>
            <li class="footer-container-svg">
            <a href="https://www.instagram.com/goitclub/" target="_blank" ><svg class="footer-svg" width="28" height="28">
          <use href="../../assets/fav-icon.svg#icon-instagram"></use>
        </svg></a>
            </li>
            <li class="footer-container-svg">
            <a href="https://www.youtube.com/c/GoIT" target="_blank" ><svg class="footer-svg" width="28" height="28">
          <use href="../../assets/fav-icon.svg#icon-youtube"></use>
        </svg></a>
            </li>
        </ul>
    </div>
    <div class="footer-privacy-policy">
        <p class="footer-privacy-policy-text">©2023  English Excellence. All rights reserved.</p>
        <div class="footer-privacy-policy-box">
            <p class="footer-privacy-policy-text">Privacy Policy</p>
            <p class="footer-privacy-policy-text">Terms of Service</p>
        </div>
        
    </div>
  </div>
  
</footer>