<header class="header">
    <div class="container header-container">
    <nav class="header-nav">
        <a class="logo header-logo" href="./index.html"
        >english<span class="logo-part">excellence</span>.</a
        >
        <button
            class="mobile-menu-btn"
            type="button"
            aria-label="Open menu button"
        >
            <svg class="mobile-menu-btn-icon mobile-menu-btn-icon--mobile" width="32" height="32">
                <use href="./images/icons.svg#burger"></use>
            </svg>
            <svg class="mobile-menu-btn-icon mobile-menu-btn-icon--tablet" width="40" height="28">
                <use href="./images/icons.svg#big-burger"></use>
            </svg>
        </button>
        <ul class="header-menu">
        <li class="header-menu-item">
            <a class="header-menu-link current" href="./index.html">About us</a>
        </li>
        <li class="header-menu-item">
            <a class="header-menu-link" href="#">Our lessons</a>
        </li>
        <li class="header-menu-item">
            <a class="header-menu-link" href="#">Teachers</a>
        </li>
        <li class="header-menu-item">
            <a class="header-menu-link" href="#">Reviews</a>
        </li>
        <li class="header-menu-item">
            <a class="header-menu-link" href="#">Contact us</a>
        </li>
        </ul>
    </nav>
    <ul class="socials socials-dark">
        <li class="socials-item">
        <a
            class="socials-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
        >
            <svg class="socials-icon" width="24" height="24">
            <use href="./images/icons.svg#facebook"></use>
            </svg>
        </a>
        </li>
        <li class="socials-item">
        <a
            class="socials-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
        >
            <svg class="socials-icon" width="24" height="24">
            <use href="./images/icons.svg#instagram"></use>
            </svg>
        </a>
        </li>
        <li class="socials-item">
        <a
            class="socials-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="YouTube"
        >
            <svg class="socials-icon" width="24" height="24">
            <use href="./images/icons.svg#youtube"></use>
            </svg>
        </a>
        </li>
    </ul>
</header>
