<section class="lessons" id="lessons">
  <div class="lessons__container">
    <!-- Section header Our lessons -->
    <h2 class="lessons__title">
      Our <span class="lessons__title-accent">lessons</span>
    </h2>
    <p class="lessons__description">
      Our lessons are carefully structured and interactive, designed to promote
      rapid language acquisition through practical tasks and real-world
      scenarios
    </p>

    <ul class="lessons__list">
      <!-- Card - Practice -->
      <li class="lessons__item">
        <div class="lessons__card">
          <h3 class="lessons__card-title">Practice</h3>
          <p class="lessons__card-price">40$ / month</p>
          <p class="lessons__card-text">
            This plan offers an opportunity for learners to engage in
            collaborative language exercises and group activities, boosting
            their conversational skills and confidence in using English.
          </p>
          <button class="button lessons__card-btn" type="button">
            Leave an application
          </button>
        </div>
      </li>

      <!-- Card - Standard -->
      <li class="lessons__item">
        <div class="lessons__card lessons__card--accent">
          <h3 class="lessons__card-title">Standard</h3>
          <p class="lessons__card-price">70$ / month</p>
          <p class="lessons__card-text">
            Our standard package provides a balanced learning approach that
            covers all key areas of English language - reading, writing,
            listening, and speaking. It is a set of basic knowledge and skills.
          </p>
          <button
            class="button lessons__card-btn lessons__card-btn--inverted"
            type="button"
          >
            Leave an application
          </button>
        </div>
      </li>

      <!-- Card - Individual -->
      <li class="lessons__item">
        <div class="lessons__card">
          <h3 class="lessons__card-title">Individual</h3>
          <p class="lessons__card-price">99$ / month</p>
          <p class="lessons__card-text">
            We offer a tailored learning experience with individualized
            instruction that focuses on a learner's specific language goals and
            challenges, offering personal feedback.
          </p>
          <button class="button lessons__card-btn" type="button">
            Leave an application
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
