<section id="reviews" class="section section-reviews">
    <div class="container">
        <div class="title-head">
            <h2 class="section-title">What our <span class="rectangle">students</span> say</h2>
            <p class="section-title-descr">Hear from our students about their learning journey with us, as they share their experiences, progress, and the transformative impact</p>
        </div>
        <ul class="reviews-list">
            <li class="reviews-card">
                <div class="reviews-card__author">
                    <img
                        src="./images/section-what-our-students-say/student-1.webp"
                        srcset="./images/section-what-our-students-say/student-1@2x.webp 2x"
                        alt="Anna"
                        class="reviews-card__avatar"
                        width="50"
                        height="50"
                    >
                    <div class="reviews-card__info">
                        <p class="reviews-card__name">Anna</p>
                        <p class="reviews-card__role">Student</p>
                    </div>
                </div>
                <p class="reviews-card__text">My experience at the language school has been nothing short of amazing. The teachers are dedicated and the learning environment is stimulating. I feel more confident in my English skills.</p>
            </li>
            <li class="reviews-card">
                <div class="reviews-card__author">
                    <img
                        src="./images/section-what-our-students-say/student-2.webp"
                        srcset="./images/section-what-our-students-say/student-2@2x.webp 2x"
                        alt="Mykhailo"
                        class="reviews-card__avatar"
                        width="50"
                        height="50"
                    >
                    <div class="reviews-card__info">
                        <p class="reviews-card__name">Mykhailo</p>
                        <p class="reviews-card__role">Student</p>
                    </div>
                </div>
                <p class="reviews-card__text">The school offers a great balance of language theory and practical exercises. The personalized feedback from the teachers has helped me improve my weak areas.</p>
            </li>
            <li class="reviews-card">
                <div class="reviews-card__author">
                    <img
                        src="./images/section-what-our-students-say/student-3.webp"
                        srcset="./images/section-what-our-students-say/student-3@2x.webp 2x"
                        alt="Victoria"
                        class="reviews-card__avatar"
                        width="50"
                        height="50"
                    >
                    <div class="reviews-card__info">
                        <p class="reviews-card__name">Victoria</p>
                        <p class="reviews-card__role">Student</p>
                    </div>
                </div>
                <p class="reviews-card__text">I love the dynamic and interactive teaching methods used here. It's a great place to learn English in a fun and effective way. I have definitely seen a big improvement in my language skills.</p>
            </li>
        </ul>
    </div>
</section>
